@import "../../styles/variables";

.header {
  .container {
    max-width: 130rem;
    margin: 2rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.left {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  span {
    color: $LightText;
    font-size: 1.5rem;
    font-weight: 700;
  }
}

html[data-theme="dark"] {
  .left {
    span {
      color: $DarkText;
    }
  }

  .right {
    color: #fff;
  }
}

@media (width <=768px) {
  .header {
    .container {
      max-width: 40rem;
      width: 90%;
      margin-top: 3rem;
    }
  }
}